.name {
  color: white;
  font-size: 3.3rem;
  font-weight: bold;
}
.discription {
  color: white;
}
.aboutP {
  color: white;
  margin-top: 3vh;
  font-weight: bold;
  font-size: 0.9rem;
  width: 80%;
}
.DownloadCv {
  background: $green_primary;
  border: none;
  outline: none;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.skill {
  background: $green_primary;
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin: 10px 3px;
}
.z-1 {
  z-index: 1;
}
.SkillsCircle {
  width: 30vw;
  height: 30vw;
  position: absolute;
  right: -15vw;
  top: -5vw;
  background-color: $green_primary;
  opacity: 25%;
  border-radius: 50%;
  z-index: 1;
}
.Sicon {
  width: 50px;
  img {
    width: 100%;
  }
}
.experince {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: rgba(0, 0, 0, 0.6);
}
.textContain {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.swiper {
  height: 50vh;
  width: 100vw;
}
.swiper-slide {
  width: fit-content !important;
}
.swiperContainer {
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-inline-start: 5vw;
}
.nameofEx {
  color: $green_primary;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.EXcard {
  margin: 1rem;
  background: black;
  color: white;
  border-radius: 5px;
  width: 40vw;
  padding: 1.5rem;
}
.tasks {
  color: $green_primary;
  font-size: 0.8rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
